table {
    width: 100%;
    max-width: 590px;
    text-align: end;
    margin: 32px auto 0 auto;
}

th {
    padding: 8px;
}

td {
    padding-right: 12px;
}

td:first-child, th:first-child {
    text-align: center;
    padding: 0 8px;
}

table, th, td {
    border: 1px solid;
}

.button-container {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    font-size: 22px;
    padding: 8px 16px;
}