table {
    text-align: center;
    width: 40%;
    margin: 32px auto 0 auto;
}

th {
    padding: 8px 0;
}

td, th {
    width: 20%;
}


table, th, td {
    border: 1px solid;
}

td:first-child, th:first-child {
    text-align: end;
    padding-right: 8px;
}
